<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="POST" action="/new">
        <input type="text" name="messageUser" id="messageUser" placeholder="user name...">
        <input type="text" name="messageText" id="messageText" placeholder="type msg here...">
        <button type="submit">Submit</button>
    </form>
     
  </body>
</html>